<?xml version="1.0" encoding="utf-8"?>
<manifest
		xmlns:android="http://schemas.android.com/apk/res/android"
		package="psu.se.wordslam"
		android:versionCode="1"
		android:versionName="1.0">
		<uses-sdk android:minSdkVersion="10"/>
		
		<instrumentation android:name="android.test.InstrumentationTestRunner"
				android:targetPackage="psu.se.wordslam"
				android:label="Test" />

		<application
				android:icon="@drawable/icon"
				android:label="@string/app_name"
				android:name="psu.se.wordslam.model.WordSlamApplication">
				<activity
						android:name=".MainMenuActivity"
						android:label="@string/app_name"
						android:screenOrientation="portrait"
						android:theme="@android:style/Theme.Light">
						<intent-filter>
								<action
										android:name="android.intent.action.MAIN" />
								<category
										android:name="android.intent.category.LAUNCHER" />
						</intent-filter>
				</activity>
				<activity
						android:name=".SingleGameActivity"
						android:screenOrientation="landscape"
						android:theme="@android:style/Theme.Light">
				</activity>
				<activity
						android:name=".ResultsActivity"
						android:screenOrientation="landscape"
						android:theme="@android:style/Theme.Light">
				</activity>

				<uses-library android:name="android.test.runner" />
				<activity android:name="GameSetupActivity" android:theme="@android:style/Theme.Light"></activity>
		</application>
</manifest>